.collapsed {
  display: none;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  margin-top: 20px;
}

.current-page {
    background-color: #9500ff;
    color: #000000;
}
