{% include 'header.html' %}

<!DOCTYPE html>
<html>

<head>
	<title>Entries</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row">
			<h1 class="col-md-5">Entries by Event</h1>
			<div class="col-md-6" style="margin-top: 3rem;">
				<button class="btn btn-lg btn-primary" type="button" id="btn-collapse-all">Collapse All</button>
			</div>
		</div>
	</div>



	<div class="container">

		{% for event in events %}
		<div class="card my-3">
			<div class="row">
				<div class="col-md-8">
					<h2 class="mb-0">{{ event }}</h2>
				</div>
				<div class="col-md-4 text-left">
					<button class="btn btn-primary mb-3" type="button" id="btn-toggle-table-{{ event }}"
						data-table-id="{{ event }}"  style="margin-top: 1rem;">
						Toggle Table
					</button>
				</div>
			</div>
		</div>

		<table class="results-table table table-striped" id="{{ event }}-table">
			<thead>
				<tr>
					<th>Ranking</th>
					<th>Name</th>
					<th>Seed Time</th>
					<th>Team</th>
					<th>Points</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for entry in events[event] %}
				<tr>
					<td>{{ entry['ranking'] }}</td>
					<td>{{ entry['name'] }}</td>
					<td>{{ entry['seed_time'] }}</td>
					<td>{{ entry['team_name'] }}</td>
					<td>{{ entry['points'] }}</td>
					<td>
						<button type="button" class="btn btn-move-up btn-secondary">Move Up</button>
						<button type="button" class="btn btn-move-down btn-secondary">Move Down</button>
						<button type="button" class="btn btn-delete btn-warning">Delete</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endfor %}
	</div>

	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='table.js') }}"></script>
	<script src="{{ url_for('static', filename='collapsible-entries.js') }}"></script>

</body>
</html>
