<!DOCTYPE html>
<html>

<head>
	<title>Psych Sheet Analyzer</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
	<style>
		.team-points {
			display: inline-block;
			margin-right: 10px;
		}

	</style>
</head>

<body>
	<div class="total-points container text-center">
		<h3>Total Points by Team:</h3>
		{% for team in points_by_team %}
		<p class="team-points" id="team-points-{{team.split()[0]}}">{{ team }}: {{ points_by_team[team] }}</p>
		{% endfor %}
	</div>
	<div class="container">
		<div class="row mb-3">
			<div class="col-md-6">
				<button class="btn btn-outline-primary btn-lg btn-block" id="btn-men">Men</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-outline-primary btn-lg btn-block" id="btn-women">Women</button>
			</div>
		</div>
	</div>
	<div class="container my-2">
		<div class="row mt-3">
			<div class="col-md-6">
				<a href="/entries" class="btn btn-primary btn-block mt-3">Entries by Event Page</a>
			</div>
			<div class="col-md-6">
				<a href="/teams" class="btn btn-primary btn-block mt-3">Entries by Teams Page</a>
			</div>
		</div>
	</div>


	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='update_point_totals.js') }}"></script>
</body>

</html>
