<!DOCTYPE html>
<html>

<head>
	<title>Psych Sheet Analyzer</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
	<div class="total-points container text-center">
		<style>
			.team-points {
				display: inline-block;
				margin-right: 10px;
			}
		</style>
		<h3>Total Points by Team:</h3>
		{% for team in points_by_team %}
		<p class="team-points" id="team-points-{{team.split()[0]}}">{{ team }}: {{ points_by_team[team] }}</p>
		{% endfor %}
	</div>

	<div class="container my-2">
		<div class="row mt-3">
			<div class="col-md-4">
				<a href="/entries"
					class="btn btn-block mt-3 btn-lg btn-outline-primary btn-info {% if request.path == '/entries' %}disabled{% endif %}">
					Entries by Event Page</a>
			</div>
			<div class="col-md-4">
				<a href="/teams"
					class="btn btn-block mt-3 btn-lg btn-outline-primary btn-info {% if request.path == '/teams' %}disabled{% endif %}">
					Entries by Teams Page</a>
			</div>
			<div class="col-md-4 d-inline-block">
				<button class="btn btn-block btn-lg btn-outline-primary btn-info" type="button" id="btn-export"  onclick="location.href='/export'">Export to CSV</button>
			</div>
		</div>

	</div>

	<div class="container my-2">
		<div class="row mt-3">
			<div class="col-md-6">
				<button class="btn btn-block mt-3 btn-primary {% if gender == 'Men' %}disabled{% endif %}" id = "btn-men">Men</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-block mt-3 btn-primary active {% if gender == 'Women' %}disabled{% endif %}" id="btn-women">Women</button>
			</div>
		</div>
	</div>







	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='update_point_totals.js') }}"></script>
	<script src="{{ url_for('static', filename='gender-button.js') }}"></script>
</body>

</html>
