{% include 'header.html' %}

<!DOCTYPE html>
<html>

<head>
	<title>Entries by Team</title>
	<!-- Bootstrap CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
	<div class="container mt-5">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h1>Entries by Team</h1>
				</div>
    <div class="col-md-6">
        <button class="btn btn-lg btn-primary" type="button" id="btn-collapse-all-team" style="margin-top: 1.5rem;">Collapse All Teams</button>
    </div>
			</div>
		</div>

		{% for team_name, team_data in entries_by_team.items() %}
    <div class="card-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1>Team: {{ team_name }}</h1>
                </div>
                <div class="col-md-4">
                    <h2>Points: {{ team_data['points'] }}</h2>
                </div>
                <div class="col-md-4">
                    <h2>Swimmers: {{ team_data['number_of_swimmers'] }}</h2>
                </div>
			</div>
			<div class="row">
                <div class="col-md-3">
                    <button class="btn btn-block btn-warning" id="btn-collapse-team" team-id={{team_name.split()[0]}} style="margin-top: 1.5rem;">Collapse Team</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-block btn-primary" id="btn-expand-team" team-id={{team_name.split()[0]}} style="margin-top: 1.5rem;">Expand Team</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-block btn-warning" id="btn-collapse-entries-team" team-id={{team_name.split()[0]}} style="margin-top: 1.5rem;">Collapse Entries</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-block btn-primary" id="btn-expand-entries-team" team-id={{team_name.split()[0]}} style="margin-top: 1.5rem;">Expand Entries</button>
                </div>
            </div>
        </div>



	<div class="card-body">
		
		<div id="team-div-{{team_name.split()[0]}}">
			
			{% for swimmer_name, swimmer_data in team_data['swimmers'].items() %}

			<!-- calculate swimmer points -->
			{% set swimmer_points = 0 %}
			{% for entry in swimmer_data %}
				{% set swimmer_points = swimmer_points + individual_points.get(entry['ranking'], 0) %} 
			{% endfor %}

			<div class="card my-3">
				<div class="row">
					<div class="col-md-8">
						<h4 id = "{{swimmer_name.replace(' ', '')}}-header" >
							{{ swimmer_name }} - {{ swimmer_data['entries']|length }} Entries - {{ swimmer_data['points'] }} Points</h4>
					</div>
				
				<div class="col-md-4 text-right">
					<button class="btn btn-primary mb-3" type="button" id="btn-toggle-table-{{ swimmer_name }}"
					data-table-id="{{ swimmer_name }}" style="margin-top: 1rem;">
					Toggle</button>
				</div>
		</div>
	</div>
	
	
	
	<table class="table table-striped" id="{{swimmer_name.replace(' ', '')}}-table" table_team_id = "{{team_name.split()[0]}}">
		<thead>
			<tr> <th>Name</th> <th>Event</th> <th>Time</th> <th>Ranking</th> <th>Points</th>  <th>Delete</th></tr>
		</thead>
		<tbody>
			{% for event in swimmer_data['entries'] %}
			<tr>
				<td>{{ swimmer_name }}</td>
				<td>{{ event['event_name'] }}</td>
				<td>{{ event['seed_time'] }}</td>
				<td>{{ event['ranking'] }}</td>
				<td>{{ individual_points.get(event['ranking'], 0) }}</td>
				<td>
					<button class="btn btn-danger delete-button" data-swimmer-name = "{{ swimmer_name }}" data-swimmer-event = "{{ event['event_name'] }}">Delete</button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>	
	{% endfor %}
	
	</div>
	{% endfor %}

	</div>
	
	
	
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='teams-delete.js') }}"></script>
	<script src="{{ url_for('static', filename='collapsible-team.js') }}"></script>
</body>
