<html>

<head>
	<title>Swim Meet Analysis</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
	{% if error %}
	<h4 style="color: red">{{ error }}</h4>
	{% endif %}
	
	<div class="container-fluid form-container">
		<div class="row align-items-center justify-content-center">
			<div class="col-md justify-content-center align-items-center text-center">
				<form method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label for="pdfFile">Select a PDF file to upload:</label>
						<input type="file" name="file" id="pdfFile" class="form-control-file" accept=".pdf">
					</div>
					<div class="form-group">
						<input type="submit" value="Upload" class="btn btn-primary">
					</div>
				</form>
				<form method="post" action="/import_csv" enctype="multipart/form-data">
					<div class="form-group">
						<label for="csvFile">Select a CSV file to upload:</label>
						<input type="file" name="file" id="csvFile" class="form-control-file" accept=".csv">
					</div>
					<div class="form-group">
						<input type="submit" value="Upload CSV" class="btn btn-primary">
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Bootstrap JS -->
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>
